<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/" class="navbar-brand">Gbinghan.com</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="">
          <a href="#/about">About Me</a>
        </li>
        <li class="">
          <a href="#/portfolio">Portfolio</a>
        </li>
        <li class="">
          <a href="http://blog.gbinghan.com" target="_blank">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</header>